@page "/blog"

<!-- Section Page Title -->
<div class="section">
    <div class="widget-page-title">
        <div class="widget-background" data-background="assets/img/photo-title.jpg"></div>
        <div class="wrapper-inner">
            <!-- Title -->
            <h5>LATEST NEWS</h5>
            <h1>Blog Page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem. Morbi blandit orci urna, eu congue magna faucibus at. In bibendum in mauris nec ultrices. Nunc et magna velit.</p>
            <!-- Title End -->
            <!-- Breadcrumb -->
            <div class="widget-breadcrumb">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PAGES</a></li>
                    <li>BLOG PAGE</li>
                </ul>
            </div>
            <!-- Breadcrumb End -->
        </div>
    </div>
</div>
<!-- Section Page Title End -->
<!-- Section Blog -->
<div class="section">
    <div class="wrapper-inner">
        <div class="row">
            <div class="col-md-9">
                <!-- Blog List -->
                <div class="widget-blog-list">
                    <div class="blog-item">
                        <div class="item-media">
                            <div class="media-photo">
                                <a href="blog-single.html" data-background="assets/img/photo-blog-1.jpg"></a>
                            </div>
                        </div>
                        <div class="item-desc">
                            <h2><a href="blog-single.html">Best Things to Do In London Enjoy the Nightlife</a></h2>
                            <h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                            <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="item-media">
                            <div class="media-photo">
                                <a href="blog-single.html" data-background="assets/img/photo-blog-2.jpg"></a>
                            </div>
                        </div>
                        <div class="item-desc">
                            <h2><a href="blog-single.html">A Walk from The Grandium Hotel Around</a></h2>
                            <h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                            <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="item-media">
                            <div class="media-gallery">
                                <div class="media-carousel owl-carousel owl-theme owl-type1">
                                    <a href="blog-single.html" data-background="assets/img/photo-blog-3.jpg"></a>
                                    <a href="blog-single.html" data-background="assets/img/photo-blog-4.jpg"></a>
                                    <a href="blog-single.html" data-background="assets/img/photo-blog-1.jpg"></a>
                                </div>
                            </div>
                        </div>
                        <div class="item-desc">
                            <h2><a href="blog-single-gallery.html">Top Events in The Grandium Hotel This February</a></h2>
                            <h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                            <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="item-media">
                            <div class="media-video video-full">
                                <iframe src="http://player.vimeo.com/video/39493181?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="500" height="281"></iframe>
                            </div>
                        </div>
                        <div class="item-desc">
                            <h2><a href="blog-single-vimeo.html">Enjoy Wimbledon Finals Week The Grandium Hotel</a></h2>
                            <h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                            <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="item-media">
                            <div class="media-photo">
                                <a href="blog-single.html" data-background="assets/img/photo-blog-4.jpg"></a>
                            </div>
                        </div>
                        <div class="item-desc">
                            <h2><a href="blog-single.html">The Ultimate Father's Day Gift: A Stay at The Grandium Hotel</a></h2>
                            <h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                            <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="item-media">
                            <div class="media-video video-full">
                                <iframe src="http://www.youtube.com/embed/SqeYP8EU79M" width="560" height="315" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="item-desc">
                            <h2><a href="blog-single-youtube.html">Father's Day Dining &amp; Afternoon Tea Specials at Sunday</a></h2>
                            <h5>BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a></h5>
                            <p>Etiam interdum diam at posuere bibendum Vivamus malesuada lectus dolor a tincidunt massa rhoncus eu. estibulum dictum mauris eu mauris cursus...</p>
                        </div>
                    </div>
                </div>
                <!-- Blog List End -->
                <!-- Pager -->
                <div class="widget-pager">
                    <ul>
                        <li><a href="#">1</a></li>
                        <li class="active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                    </ul>
                </div>
                <!-- Pager End -->
            </div>
            <div class="col-md-3">
                <!-- Blog Sidebar -->
                <div class="widget-blog-sidebar">
                    <!-- Sidebar Search -->
                    <div class="widget sidebar-search">
                        <h5>SEARCH</h5>
                        <form>
                            <input type="text" placeholder="ENTER KEYWORDS" required>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Sidebar Search End -->
                    <!-- Sidebar Categories -->
                    <div class="widget sidebar-categories">
                        <h5>CATEGORIES</h5>
                        <nav>
                            <ul>
                                <li><a href="#">ACCOMONDATION</a></li>
                                <li><a href="#">TRAVEL</a></li>
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">EVENTS</a></li>
                                <li><a href="#">ROOMS &amp; SUITES</a></li>
                                <li><a href="#">SPA &amp; GYM</a></li>
                                <li><a href="#">POOL &amp; SWIM</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Sidebar Categories End -->
                    <!-- Sidebar Events -->
                    <div class="widget sidebar-events">
                        <h5>UPCOMING EVENTS</h5>
                        <ul>
                            <li><a href="#"><span><b>APRIL</b>25</span>Mothers Day Lunch at The Grandium</a></li>
                            <li><a href="#"><span><b>MARCH</b>17</span>New Year's Brunch at The Grandium</a></li>
                            <li><a href="#"><span><b>JANUARY</b>12</span>Family Christmas Lunch at The Grandium</a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Events End -->
                    <!-- Sidebar Recent -->
                    <div class="widget sidebar-recent">
                        <h5>RECENT POSTS</h5>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue pharetra diam, eget vestibulum.<span><i class="fa fa-calendar"></i>25 APR 2016 - 18:30</span></a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue pharetra diam, eget vestibulum.<span><i class="fa fa-calendar"></i>17 APR 2016 - 18:30</span></a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue pharetra diam, eget vestibulum.<span><i class="fa fa-calendar"></i>12 APR 2016 - 18:30</span></a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Recent End -->
                    <!-- Sidebar Tags -->
                    <div class="widget sidebar-tags">
                        <h5>TAGS</h5>
                        <ul>
                            <li><a href="#">#TRAVEL</a></li>
                            <li><a href="#">#SERVICES</a></li>
                            <li><a href="#">#EVENTS</a></li>
                            <li><a href="#">#ROOMS</a></li>
                            <li><a href="#">#POOL</a></li>
                            <li><a href="#">#SPA</a></li>
                            <li><a href="#">#ACCOMONDATION</a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Tags End -->
                    <!-- Sidebar Archive -->
                    <div class="widget sidebar-archive">
                        <h5>BLOG ARCHIVE</h5>
                        <ul>
                            <li><a href="#">MARCH 2016</a></li>
                            <li><a href="#">FEBRUARY 2016</a></li>
                            <li><a href="#">JANUARY 2016</a></li>
                            <li><a href="#">DECEMBER 2015</a></li>
                            <li><a href="#">NOVEMBER 2015</a></li>
                            <li><a href="#">OCTOBER 2015</a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Archive End -->
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
    </div>
</div>
<!-- Section Blog End -->

<style>
    .widget-blog-list .blog-item {
        position: relative;
        padding-left: 30%;
        margin-bottom: 50px;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
    }

        .widget-blog-list .blog-item .item-media {
            position: absolute;
            top: 0;
            left: 0;
            width: 30%;
            height: 100%;
            border: 15px solid #fff;
        }

            .widget-blog-list .blog-item .item-media:after {
                position: absolute;
                top: -15px;
                bottom: -15px;
                left: calc(100% + 15px);
                width: 20px;
                content: "";
                display: inline-block;
                background: -moz-linear-gradient(left, rgba(33,30,25,0.10) -100%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left, rgba(33,30,25,0.10) -100%, rgba(0,0,0,0) 100%);
                background: linear-gradient(to right, rgba(33,30,25,0.10) -100%, rgba(0,0,0,0) 100%);
            }

            .widget-blog-list .blog-item .item-media .media-photo,
            .widget-blog-list .blog-item .item-media .media-gallery,
            .widget-blog-list .blog-item .item-media .media-video {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

                .widget-blog-list .blog-item .item-media .media-photo a,
                .widget-blog-list .blog-item .item-media .media-gallery a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                }

                .widget-blog-list .blog-item .item-media .media-gallery .owl-carousel,
                .widget-blog-list .blog-item .item-media .media-gallery .owl-stage-outer,
                .widget-blog-list .blog-item .item-media .media-gallery .owl-stage,
                .widget-blog-list .blog-item .item-media .media-gallery .owl-item {
                    height: 100%;
                }

                .widget-blog-list .blog-item .item-media .media-video .fluid-width-video-wrapper {
                    height: 100%;
                }

        .widget-blog-list .blog-item .item-desc {
            padding: 40px;
        }

            .widget-blog-list .blog-item .item-desc h2 a:hover {
                color: #d77b5d;
            }

            .widget-blog-list .blog-item .item-desc h5 {
                font-size: 10px;
                font-weight: 700;
                color: #818a9c;
                letter-spacing: 0;
            }

                .widget-blog-list .blog-item .item-desc h5 a {
                    color: #d77b5d;
                }

                .widget-blog-list .blog-item .item-desc h5 .fa {
                    margin-left: 10px;
                    margin-right: 5px;
                }

            .widget-blog-list .blog-item .item-desc p:last-child {
                margin-bottom: 0;
            }

        .widget-blog-list .blog-item:last-child {
            margin-bottom: 0;
        }
</style>

@code {

}
