@page "/article/{ArticleId}"

<!-- Section Page Title -->
<div class="section">
    <div class="widget-page-title">
        <div class="widget-background" data-background="assets/img/photo-title.jpg"></div>
        <div class="wrapper-inner">
            <!-- Title -->
            <h5>BLOG</h5>
            <h1>The Ultimate Father's Day Gift: A Stay at The Grandium Hotel</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem. Morbi blandit orci urna, eu congue magna faucibus at. In bibendum in mauris nec ultrices. Nunc et magna velit.</p>
            <!-- Title End -->
            <!-- Breadcrumb -->
            <div class="widget-breadcrumb">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">PAGES</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li>BLOG SINGLE</li>
                </ul>
            </div>
            <!-- Breadcrumb End -->
        </div>
    </div>
</div>
<!-- Section Page Title End -->
<!-- Section Blog Single -->
<div class="section">
    <div class="wrapper-inner">
        <div class="row">
            <div class="col-md-9">
                <!-- Blog Single -->
                <div class="widget-blog-single">
                    <!-- Single Media -->
                    <div class="single-media">
                        <div class="media-photo">
                            <a href="assets/img/photo-blog-big-1.jpg" title="Post Title" class="popup-photo">
                                <img src="assets/img/photo-blog-big-1.jpg" alt="Post Title">
                            </a>
                        </div>
                    </div>
                    <!-- Single Media End -->
                    <!-- Single Detail -->
                    <div class="single-detail">
                        <div class="detail-head">
                            BY <a href="#">JOHN DOE</a> <i class="fa fa-clock-o"></i> 25 SEP 2015 <i class="fa fa-bars"></i> <a href="#">TRAVEL</a>, <a href="#">PORTRAIT</a>, <a href="#">WEDDING</a> <i class="fa fa-commenting-o"></i> <a href="#">3 COMMENT</a>
                        </div>
                        <div class="detail-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis semper leo eu aliquet ultricies. Proin sit amet porta lorem, nec bibendum augue. Phasellus vehicula augue eu bibendum varius. Fusce egestas urna ac ullamcorper pulvinar. Mauris a mauris accumsan felis auctor ultrices. Maecenas eu vehicula dolor. Nullam ac facilisis mi. Praesent efficitur rutrum accumsan. Vivamus aliquet eros vel suscipit pretium.</p>
                            <p>Etiam congue mollis mi a mollis. Fusce quam enim, posuere et nibh nec, facilisis tempus odio. In blandit lectus dignissim ipsum suscipit, hendrerit hendrerit turpis accumsan. Aliquam auctor orci erat, vitae vehicula tellus dapibus sed. Mauris bibendum diam in ex dignissim, id cursus neque venenatis. Donec at libero vulputate, maximus mauris vel, maximus sem. Pellentesque dapibus pulvinar augue aliquam dictum. Morbi sit amet elementum ipsum. Cras venenatis turpis ac efficitur mattis. Proin venenatis euismod massa, vitae gravida mauris mattis ut. In placerat tristique nulla, sed commodo magna cursus ut. Nullam scelerisque imperdiet magna in dignissim. Vivamus vitae odio nec ipsum pellentesque dapibus at sed augue. Fusce vel luctus risus, non viverra sem. Nullam sit amet massa enim.</p>
                            <p>Proin aliquam consectetur mi id vehicula. Nam cursus mauris lorem, ac mollis tortor ultricies a. Nam pulvinar nulla tellus, volutpat dignissim dui elementum mollis. Donec feugiat mi eu porta dignissim. Proin scelerisque nulla ex, sit amet fringilla nunc vulputate vel. Pellentesque sit amet vestibulum odio, in elementum risus. Duis ut mi sem. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Ut efficitur ante eu sem hendrerit facilisis. Aliquam non efficitur nulla. Curabitur ante felis, tincidunt a libero ac, mollis accumsan enim. Morbi hendrerit semper nunc, eget aliquam leo feugiat sed.</p>
                            <p>Etiam eu sem in risus malesuada ultrices. Pellentesque ac lectus dictum nisl interdum rutrum eget vitae eros. Aenean porttitor nulla volutpat, gravida nisl eu, venenatis ante. Vestibulum consectetur sem non hendrerit porttitor. Morbi sodales egestas pellentesque. Ut nunc nulla, auctor in venenatis vitae, facilisis sit amet risus. Duis ut magna neque. Vestibulum vel lobortis lectus. In sit amet auctor massa, porttitor condimentum sem. Ut at sem quis mi volutpat elementum. Cras eu tellus varius, volutpat nibh ac, lacinia arcu.</p>
                        </div>
                        <div class="detail-tags">
                            <h5>TAGS</h5>
                            <ul>
                                <li><a href="#">#TRAVEL</a></li>
                                <li><a href="#">#SERVICES</a></li>
                                <li><a href="#">#EVENTS</a></li>
                                <li><a href="#">#ROOMS</a></li>
                                <li><a href="#">#POOL</a></li>
                                <li><a href="#">#SPA</a></li>
                                <li><a href="#">#ACCOMONDATION</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Single Detail End -->
                    <!-- Single Comments -->
                    <div class="single-comments">
                        <div class="comments-list">
                            <h5>COMMENTS (4)</h5>
                            <ul>
                                <li class="comment">
                                    <div class="comment-avatar"><img src="assets/img/user-1.jpg" alt="Author Name"></div>
                                    <div class="comment-info">
                                        <div class="comment-user">MARILYN SUTTLE</div>
                                        <div class="comment-date">28 OCT 2016 AT 06:30 PM</div>
                                        <div class="comment-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac dolor sit amet diam vestibulum ullamcorper quis in ipsum.</div>
                                        <div class="comment-reply"><a href="#">REPLY</a></div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment">
                                            <div class="comment-avatar"><img src="assets/img/user-2.jpg" alt="Author Name"></div>
                                            <div class="comment-info">
                                                <div class="comment-user">JACK MASON</div>
                                                <div class="comment-date">21 OCT 2016 AT 06:30 PM</div>
                                                <div class="comment-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                                <div class="comment-reply"><a href="#">REPLY</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="comment">
                                    <div class="comment-avatar"><img src="assets/img/user-3.jpg" alt="Author Name"></div>
                                    <div class="comment-info">
                                        <div class="comment-user">MICHAEL FELDSTEIN</div>
                                        <div class="comment-date">16 OCT 2016 AT 06:30 PM</div>
                                        <div class="comment-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac dolor sit amet diam vestibulum ullamcorper quis in ipsum. Cras orci urna, ullamcorper lobortis laoreet eu, pulvinar sit amet leo. </div>
                                        <div class="comment-reply"><a href="#">REPLY</a></div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="comment-avatar"><img src="assets/img/user-4.jpg" alt="Author Name"></div>
                                    <div class="comment-info">
                                        <div class="comment-user">JOHN FEDERICO</div>
                                        <div class="comment-date">14 OCT 2016 AT 06:30 PM</div>
                                        <div class="comment-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
                                        <div class="comment-reply"><a href="#">REPLY</a></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="comments-form">
                            <h5>LEAVE A COMMENT</h5>
                            <div class="data-form">
                                <form>
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6">
                                            <input type="text" name="name" placeholder="ENTER YOUR NAME" required>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                            <input type="text" name="email" placeholder="ENTER YOUR EMAIL" required>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <input type="text" name="website" placeholder="ENTER YOUR WEBSITE">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea name="message" cols="6" rows="8" placeholder="ENTER YOUR MESSAGE" required></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="submit" class="btn">SUBMIT MESSAGE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Single Comments End -->
                </div>
                <!-- Blog Single End -->
            </div>
            <div class="col-md-3">
                <!-- Blog Sidebar -->
                <div class="widget-blog-sidebar">
                    <!-- Sidebar Search -->
                    <div class="widget sidebar-search">
                        <h5>SEARCH</h5>
                        <form>
                            <input type="text" placeholder="ENTER KEYWORDS" required>
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <!-- Sidebar Search End -->
                    <!-- Sidebar Categories -->
                    <div class="widget sidebar-categories">
                        <h5>CATEGORIES</h5>
                        <nav>
                            <ul>
                                <li><a href="#">ACCOMONDATION</a></li>
                                <li><a href="#">TRAVEL</a></li>
                                <li><a href="#">SERVICES</a></li>
                                <li><a href="#">EVENTS</a></li>
                                <li><a href="#">ROOMS &amp; SUITES</a></li>
                                <li><a href="#">SPA &amp; GYM</a></li>
                                <li><a href="#">POOL &amp; SWIM</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Sidebar Categories End -->
                    <!-- Sidebar Events -->
                    <div class="widget sidebar-events">
                        <h5>UPCOMING EVENTS</h5>
                        <ul>
                            <li><a href="#"><span><b>APRIL</b>25</span>Mothers Day Lunch at The Grandium</a></li>
                            <li><a href="#"><span><b>MARCH</b>17</span>New Year's Brunch at The Grandium</a></li>
                            <li><a href="#"><span><b>JANUARY</b>12</span>Family Christmas Lunch at The Grandium</a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Events End -->
                    <!-- Sidebar Recent -->
                    <div class="widget sidebar-recent">
                        <h5>RECENT POSTS</h5>
                        <ul>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue pharetra diam, eget vestibulum.<span><i class="fa fa-calendar"></i>25 APR 2016 - 18:30</span></a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue pharetra diam, eget vestibulum.<span><i class="fa fa-calendar"></i>17 APR 2016 - 18:30</span></a></li>
                            <li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla congue pharetra diam, eget vestibulum.<span><i class="fa fa-calendar"></i>12 APR 2016 - 18:30</span></a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Recent End -->
                    <!-- Sidebar Tags -->
                    <div class="widget sidebar-tags">
                        <h5>TAGS</h5>
                        <ul>
                            <li><a href="#">#TRAVEL</a></li>
                            <li><a href="#">#SERVICES</a></li>
                            <li><a href="#">#EVENTS</a></li>
                            <li><a href="#">#ROOMS</a></li>
                            <li><a href="#">#POOL</a></li>
                            <li><a href="#">#SPA</a></li>
                            <li><a href="#">#ACCOMONDATION</a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Tags End -->
                    <!-- Sidebar Archive -->
                    <div class="widget sidebar-archive">
                        <h5>BLOG ARCHIVE</h5>
                        <ul>
                            <li><a href="#">MARCH 2016</a></li>
                            <li><a href="#">FEBRUARY 2016</a></li>
                            <li><a href="#">JANUARY 2016</a></li>
                            <li><a href="#">DECEMBER 2015</a></li>
                            <li><a href="#">NOVEMBER 2015</a></li>
                            <li><a href="#">OCTOBER 2015</a></li>
                        </ul>
                    </div>
                    <!-- Sidebar Archive End -->
                </div>
                <!-- Blog Sidebar End -->
            </div>
        </div>
    </div>
</div>
<!-- Section Blog Single End -->

<style>
    .widget-blog-single h5 {
        margin-bottom: 20px;
    }

    .widget-blog-single .single-media .media-gallery a {
        display: block;
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .widget-blog-single .single-detail {
        padding: 40px;
        background-color: #fff;
    }

        .widget-blog-single .single-detail .detail-head {
            padding: 20px 40px;
            margin-top: -40px;
            margin-left: -40px;
            margin-right: -40px;
            margin-bottom: 40px;
            border-bottom: 2px solid #f5f5f5;
            font-family: 'Lato', sans-serif;
            font-size: 11px;
            font-weight: 700;
            letter-spacing: 0;
            color: #818a9c;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

            .widget-blog-single .single-detail .detail-head a {
                color: #d77b5d;
            }

            .widget-blog-single .single-detail .detail-head .fa {
                margin-left: 10px;
                margin-right: 5px;
            }

        .widget-blog-single .single-detail .detail-content {
            font-family: 'Lato', sans-serif;
            text-align: justify;
        }

            .widget-blog-single .single-detail .detail-content p:last-child {
                margin-bottom: 0;
            }

        .widget-blog-single .single-detail .detail-tags {
            margin-top: 40px;
            margin-bottom: -10px;
        }

            .widget-blog-single .single-detail .detail-tags ul li {
                float: left;
                margin-right: 10px;
                margin-bottom: 10px;
            }

                .widget-blog-single .single-detail .detail-tags ul li a {
                    display: inline-block;
                    font-family: 'Lato', sans-serif;
                    font-size: 10px;
                    font-weight: 700;
                    letter-spacing: 1px;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    background-color: #f5f5f5;
                }

                    .widget-blog-single .single-detail .detail-tags ul li a:hover {
                        color: #fff;
                        background-color: #d77b5d;
                    }

    .widget-blog-single .single-comments {
        padding: 0 40px 40px 40px;
        background-color: #fff;
    }

        .widget-blog-single .single-comments .comments-list {
            margin-bottom: -30px;
        }

            .widget-blog-single .single-comments .comments-list .comment {
                position: relative;
                padding-left: 90px;
            }

                .widget-blog-single .single-comments .comments-list .comment .comment-avatar {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 70px;
                    height: 70px;
                    overflow: hidden;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                }

                    .widget-blog-single .single-comments .comments-list .comment .comment-avatar img {
                        width: 100%;
                    }

                .widget-blog-single .single-comments .comments-list .comment .comment-info {
                    margin-bottom: 30px;
                    font-family: 'Lato', sans-serif;
                }

                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-user,
                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-date,
                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-reply {
                        text-transform: uppercase;
                    }

                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-date,
                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-reply {
                        font-weight: 700;
                    }

                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-date,
                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-message {
                        margin-bottom: 10px;
                    }

                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-user {
                        font-size: 11px;
                        font-weight: 900;
                        letter-spacing: 1px;
                    }

                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-date {
                        font-size: 10px;
                        color: #818a9c;
                        margin-top: 5px;
                    }

                    .widget-blog-single .single-comments .comments-list .comment .comment-info .comment-reply a {
                        font-size: 10px;
                        color: #d77b5d;
                    }

        .widget-blog-single .single-comments .comments-form {
            padding-top: 100px;
            margin-bottom: -20px;
        }
</style>

@code {
    [Parameter] public string? ArticleId { get; set; }
}
