<!-- Section Booking -->
<div class="section">
    <div class="widget-booking-form">
        <div class="wrapper-inner">
            <div class="widget-inner">
                <div class="row">
                    <div class="col-lg-8 col-md-7">
                        <!-- Booking Complete -->
                        <div class="booking-complete">
                            <h5>BOOKING</h5>
                            <h2>Your Reservation Completed</h2>
                            <div class="complete-message">
                                <i class="fa fa-check"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.
                            </div>
                        </div>
                        <!-- Booking Complete End -->
                        <!-- Booking Form -->
                        <div class="booking-form">
                            <h5>BOOKING FORM</h5>
                            <h2>Personal Info</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                            <div class="data-form">
                                <form action="booking.php" id="booking-form" method="post">
                                    <input type="hidden" name="form-room" value="Royal Single Room">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <i class="fa fa-calendar-plus-o"></i>
                                            <input type="text" name="form-checkin" id="form-checkin" value="04/20/2016" placeholder="CHECK IN" class="datepicker">
                                        </div>
                                        <div class="col-md-6">
                                            <i class="fa fa-calendar-plus-o"></i>
                                            <input type="text" name="form-checkout" id="form-checkout" value="05/22/2016" placeholder="CHECK OUT" class="datepicker">
                                        </div>
                                        <div class="col-md-6">
                                            <i class="fa fa-caret-down"></i>
                                            <select name="form-adults" id="form-adults">
                                                <option value="">ADULTS</option>
                                                <option value="1">1 ADULT</option>
                                                <option value="2" selected>2 ADULT</option>
                                                <option value="3">3 ADULT</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="fa fa-caret-down"></i>
                                            <select name="form-childrens" id="form-childrens">
                                                <option value="">CHILDRENS</option>
                                                <option value="1" selected>1 CHILDREN</option>
                                                <option value="2">2 CHILDREN</option>
                                                <option value="3">3 CHILDREN</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-name" id="form-name" placeholder="YOUR NAME">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-surname" id="form-surname" placeholder="YOUR SURNAME">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-email" id="form-email" placeholder="YOUR EMAIL ADDRESS">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-phone" id="form-phone" placeholder="YOUR PHONE">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-address1" id="form-address1" placeholder="ADDRESS LINE 1">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-address2" id="form-address2" placeholder="ADDRESS LINE 2">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-city" id="form-city" placeholder="CITY">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" name="form-country" id="form-country" placeholder="COUNTRY">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea cols="6" rows="8" name="form-requirements" id="form-requirements" placeholder="SPECIAL REQUIREMENTS"></textarea>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="submit" value="BOOK NOW BY EMAIL" class="btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Booking Form End -->
                    </div>
                    <div class="col-lg-4 col-md-5">
                        <!-- Booking Detail -->
                        <div class="booking-detail">
                            <h5>BOOKING DETAILS</h5>
                            <h2>Selected Room</h2>
                            <div class="detail-room">
                                <div class="room-photo">
                                    <a href="rooms-detail.html" data-background="assets/img/photo-room-5.jpg"></a>
                                </div>
                                <div class="room-desc">
                                    <h3><a href="rooms-detail.html">Single Room</a></h3>
                                    <h4>$ 230 <small>PER NIGHT</small></h4>
                                </div>
                            </div>
                            <div class="detail-info">
                                <ul>
                                    <li>
                                        <label>CHECK IN</label>
                                        <p>04/20/2016</p>
                                    </li>
                                    <li>
                                        <label>CHECK OUT</label>
                                        <p>04/22/2016</p>
                                    </li>
                                    <li>
                                        <label>ADULTS</label>
                                        <p>2 PERSON</p>
                                    </li>
                                    <li>
                                        <label>CHILDRENS</label>
                                        <p>1 CHILDREN</p>
                                    </li>
                                    <li>
                                        <label>NIGHT</label>
                                        <p>2 NIGHT</p>
                                    </li>
                                    <li>
                                        <label>TAX (10%)</label>
                                        <p>$ 50</p>
                                    </li>
                                    <li class="total">
                                        <label>TOTAL PRICE</label>
                                        <p>$ 510</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Booking Detail End -->
                        <!-- Booking Help -->
                        <div class="booking-help">
                            <h5>HELP</h5>
                            <h2>Need Booking Help?</h2>
                            <p>If you need help with booking, Our advisor team are 24/7 at your service to help you.</p>
                            <p><a href="mailto:help@thegrandiumhotel.com">help@thegrandiumhotel.com</a></p>
                            <h3><i class="fa fa-phone-square"></i>1-800-123-45-67</h3>
                        </div>
                        <!-- Booking Help End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section Booking End -->

<style>
    .widget-booking-form .booking-form,
    .widget-booking-form .booking-complete,
    .widget-booking-form .booking-detail {
        padding: 40px;
        background-color: #fff;
    }

        .widget-booking-form .booking-form .data-form .fa {
            position: absolute;
            top: 14px;
            right: 35px;
            width: 15px;
            text-align: center;
        }

        .widget-booking-form .booking-form h2 + p {
            margin-bottom: 30px;
        }

        .widget-booking-form .booking-form .data-form select,
        .widget-booking-form .booking-form .data-form textarea,
        .widget-booking-form .booking-form .data-form input[type="text"] {
            -webkit-box-shadow: inset 1px 1px 4px 0px rgba(40, 35, 29, 0.1);
            -moz-box-shadow: inset 1px 1px 4px 0px rgba(40, 35, 29, 0.1);
            box-shadow: inset 1px 1px 4px 0px rgba(40, 35, 29, 0.1);
        }

        .widget-booking-form .booking-form .data-form ::-webkit-input-placeholder {
            color: #24324a;
            text-transform: uppercase;
        }

        .widget-booking-form .booking-form .data-form :-moz-placeholder {
            color: #24324a;
            text-transform: uppercase;
        }

        .widget-booking-form .booking-form .data-form ::-moz-placeholder {
            color: #24324a;
            text-transform: uppercase;
        }

        .widget-booking-form .booking-form .data-form :-ms-input-placeholder {
            color: #24324a;
            text-transform: uppercase;
        }

        .widget-booking-form .booking-detail .detail-room {
            border-top: 1px solid #e1e1e1;
            padding-top: 20px;
        }

            .widget-booking-form .booking-detail .detail-room .room-photo {
                width: 30%;
                float: left;
            }

                .widget-booking-form .booking-detail .detail-room .room-photo a {
                    display: block;
                    width: 100%;
                    padding-top: 100%;
                    background-repeat: no-repeat;
                    background-position: top center;
                    background-size: cover;
                }

            .widget-booking-form .booking-detail .detail-room .room-desc {
                width: 70%;
                padding-left: 20px;
                float: left;
            }

                .widget-booking-form .booking-detail .detail-room .room-desc h3 {
                    font-size: 24px;
                }

                    .widget-booking-form .booking-detail .detail-room .room-desc h3 a:hover {
                        color: #d77b5d;
                    }

                .widget-booking-form .booking-detail .detail-room .room-desc h4 {
                    font-family: 'Lato', sans-serif;
                    font-size: 14px;
                    font-weight: 900;
                    color: #d77b5d;
                    margin-bottom: 0;
                    text-transform: uppercase;
                }

                    .widget-booking-form .booking-detail .detail-room .room-desc h4 small {
                        position: relative;
                        top: -1px;
                        margin-left: 5px;
                        font-size: 10px;
                        font-weight: 700;
                        color: #818a9c;
                    }

        .widget-booking-form .booking-detail .detail-info {
            margin-top: 20px;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 11px;
            border-bottom: 1px solid #e1e1e1;
        }

            .widget-booking-form .booking-detail .detail-info ul li {
                width: 50%;
                float: left;
                padding: 10px;
                border-top: 1px solid #e1e1e1;
                text-transform: uppercase;
            }

                .widget-booking-form .booking-detail .detail-info ul li label,
                .widget-booking-form .booking-detail .detail-info ul li p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .widget-booking-form .booking-detail .detail-info ul li label {
                    color: #818a9c;
                }

                .widget-booking-form .booking-detail .detail-info ul li p {
                    line-height: normal;
                    margin: 0;
                }

                .widget-booking-form .booking-detail .detail-info ul li.total {
                    width: 100%;
                }

                    .widget-booking-form .booking-detail .detail-info ul li.total p {
                        font-weight: 900;
                        color: #d77b5d;
                        font-size: 18px;
                    }

    .widget-booking-form .booking-help {
        margin-top: 30px;
        padding: 40px;
        border: 15px solid #fff;
    }

        .widget-booking-form .booking-help h3 {
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            margin-top: 30px;
            margin-bottom: 0;
        }

            .widget-booking-form .booking-help h3 .fa {
                margin-right: 10px;
                color: #d77b5d;
            }

    .widget-booking-form .booking-complete {
        display: none;
    }

        .widget-booking-form .booking-complete .complete-message {
            padding-left: 140px;
            position: relative;
            min-height: 120px;
            padding-top: 40px;
        }

            .widget-booking-form .booking-complete .complete-message .fa {
                position: absolute;
                top: 0;
                left: 0;
                width: 120px;
                height: 120px;
                line-height: 120px;
                text-align: center;
                font-size: 60px;
                color: #75cd33;
                border: 5px solid #75cd33;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
            }
</style>
@code {

}
