<!-- Section Features -->
<div class="section">
    <div class="widget-features-carousel">
        <div class="wrapper-inner">
            <!-- Features Title -->
            <div class="widget-title">
                <h5>KEY FEATURES</h5>
                <h2>Explore The Grandium</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Features Title End -->
            <!-- Features Carousel -->
            <div class="widget-carousel owl-carousel owl-theme">
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-coffee.png');" data-background="img/ico-coffee.png">
                        <h5>BREAKFAST</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-roomservice.png');" data-background="img/ico-roomservice.png">
                        <h5>ROOM SERVICE</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-food.png');" data-background="img/ico-food.png">
                        <h5>BISTRO &amp; BAR</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-wifi.png');" data-background="img/ico-wifi.png">
                        <h5>WI-FI SERVICE</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-car.png');" data-background="img/ico-car.png">
                        <h5>FREE PARKING</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-coffee.png');" data-background="img/ico-coffee.png">
                        <h5>BREAKFAST</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-roomservice.png');" data-background="img/ico-roomservice.png">
                        <h5>ROOM SERVICE</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-food.png');" data-background="img/ico-food.png">
                        <h5>BISTRO &amp; BAR</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-wifi.png');" data-background="img/ico-wifi.png">
                        <h5>WI-FI SERVICE</h5>
                    </div>
                </div>
                <div class="features-item">
                    <div class="item-inner" style="background-image: url('img/ico-car.png');" data-background="img/ico-car.png">
                        <h5>FREE PARKING</h5>
                    </div>
                </div>
            </div>
            <!-- Features Carousel End -->
        </div>
    </div>
</div>
<!-- Section Features End -->

<style>
    .widget-features-carousel {
        background-color: #f5f5f5;
    }

        .widget-features-carousel .features-item {
            position: relative;
            padding-top: 100%;
            background-color: #fff;
        }

            .widget-features-carousel .features-item .item-inner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding-top: 80%;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
                background-repeat: no-repeat;
                background-position: 50% 30%;
                background-size: auto 40%;
            }

                .widget-features-carousel .features-item .item-inner h5 {
                    color: #24324a;
                    margin-bottom: 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

            .widget-features-carousel .features-item:hover .item-inner h5 {
                color: #d77b5d;
            }
</style>

@code {

}
