<!-- Section History -->
<div class="section">
    <div class="widget-history-timeline">
        <div class="wrapper-inner">
            <!-- History Title -->
            <div class="widget-title">
                <h5>EXPLORE OUR LEGACY</h5>
                <h2>Our History</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- History Title End -->
            <!-- History Content -->
            <div class="widget-inner">
                <ul>
                    <li>
                        <h5>2012</h5>
                        <h3>The First 5 Star Resort in London</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                    <li>
                        <h5>2006</h5>
                        <h3>Opening of Spa &amp; Beauty Center</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                    <li>
                        <h5>2001</h5>
                        <h3>Renovation of Wedding Venue</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                    <li>
                        <h5>1995</h5>
                        <h3>Opening of Conference Center</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                    <li>
                        <h5>1992</h5>
                        <h3>Opening of Sky Bar &amp; Lounge</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                    <li>
                        <h5>1987</h5>
                        <h3>The Grandium Hotel opens May 20th.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                    <li>
                        <h5>1985</h5>
                        <h3>Construction of The Grandium Hotel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper.</p>
                    </li>
                </ul>
            </div>
            <!-- History Content End -->
        </div>
    </div>
</div>
<!-- Section History End -->

<style>
    .widget-history-timeline {
        background-color: #fff;
    }

        .widget-history-timeline ul {
            position: relative;
            padding-top: 40px;
            padding-bottom: 40px;
        }

            .widget-history-timeline ul:after {
                position: absolute;
                top: 0;
                left: 50%;
                width: 2px;
                height: 100%;
                margin-left: -1px;
                content: "";
                display: inline-block;
                background-color: #e1e1e1;
            }

            .widget-history-timeline ul li {
                position: relative;
                margin-bottom: 50px;
            }

                .widget-history-timeline ul li:after {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 16px;
                    height: 16px;
                    margin-top: -8px;
                    margin-left: -8px;
                    content: "";
                    display: inline-block;
                    background-color: #e1e1e1;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    border-radius: 50%;
                }

                .widget-history-timeline ul li h5 {
                    position: absolute;
                    top: 50%;
                    max-width: 60px;
                    margin-top: -5px;
                    margin-bottom: 0;
                    font-size: 11px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .widget-history-timeline ul li p:last-of-type {
                    margin-bottom: 0;
                }

                .widget-history-timeline ul li:nth-child(odd) {
                    padding-left: calc(50% + 100px);
                }

                    .widget-history-timeline ul li:nth-child(odd) h5 {
                        left: calc(50% + 30px);
                    }

                .widget-history-timeline ul li:nth-child(even) {
                    padding-right: calc(50% + 100px);
                    text-align: right;
                }

                    .widget-history-timeline ul li:nth-child(even) h5 {
                        right: calc(50% + 30px);
                    }

                .widget-history-timeline ul li:last-child {
                    margin-bottom: 0;
                }
</style>

@code {

}
