<!-- Section Team -->
<div class="section">
    <div class="widget-team-carousel">
        <div class="wrapper-inner">
            <!-- Team Title -->
            <div class="widget-title">
                <h5>TEAM</h5>
                <h2>Our Staff</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Team Title End -->
            <!-- Team Carousel -->
            <div class="widget-carousel owl-carousel owl-theme">
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-1.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>MARILYN SUTTLE</h3>
                            <h4>GENERAL MANAGER</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-2.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>JACK MASON</h3>
                            <h4>EXECUTIVE HEAD CHEF</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-3.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>MICHAEL FELDSTEIN</h3>
                            <h4>FRONT OF HOUSE MANAGER</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-4.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>JOHN FEDERICO</h3>
                            <h4>RECEPTION MANAGER</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-1.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>MARILYN SUTTLE</h3>
                            <h4>GENERAL MANAGER</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-2.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>JACK MASON</h3>
                            <h4>EXECUTIVE HEAD CHEF</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-3.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>MICHAEL FELDSTEIN</h3>
                            <h4>FRONT OF HOUSE MANAGER</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="team-item">
                    <div class="item-inner">
                        <div class="item-photo">
                            <a href="#" style="background-image: url('img/user-4.jpg')"></a>
                        </div>
                        <div class="item-desc">
                            <h3>JOHN FEDERICO</h3>
                            <h4>RECEPTION MANAGER</h4>
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team Carousel End -->
        </div>
    </div>
</div>
<!-- Section Team End -->

<style>
    .widget-team-carousel {
        background-color: #f5f5f5;
    }

        .widget-team-carousel .team-item .item-photo {
            border: 20px solid transparent;
            overflow: hidden;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }

            .widget-team-carousel .team-item .item-photo a {
                display: block;
                padding-top: 100%;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }

        .widget-team-carousel .team-item .item-desc {
            margin-top: 30px;
            font-family: 'Lato', sans-serif;
            text-align: center;
        }

            .widget-team-carousel .team-item .item-desc h3,
            .widget-team-carousel .team-item .item-desc h4 {
                letter-spacing: 1px;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-transform: uppercase;
                overflow: hidden;
            }

            .widget-team-carousel .team-item .item-desc h3 {
                font-size: 12px;
                font-weight: 900;
                color: #d77b5d;
            }

            .widget-team-carousel .team-item .item-desc h4 {
                font-size: 10px;
                margin-bottom: 0;
            }

            .widget-team-carousel .team-item .item-desc ul {
                display: inline-block;
                margin-top: 30px;
                padding: 0 4px;
                border: 1px solid #e1e1e1;
                -webkit-border-radius: 15px;
                -moz-border-radius: 15px;
                -ms-border-radius: 15px;
                -o-border-radius: 15px;
                border-radius: 15px;
            }

                .widget-team-carousel .team-item .item-desc ul li {
                    float: left;
                }

                    .widget-team-carousel .team-item .item-desc ul li a {
                        display: block;
                        width: 36px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 11px;
                        border-right: 1px solid #e1e1e1;
                        color: #818a9c;
                    }

                        .widget-team-carousel .team-item .item-desc ul li a:hover {
                            color: #d77b5d;
                        }

                    .widget-team-carousel .team-item .item-desc ul li:last-child a {
                        border-right: 0;
                    }

        .widget-team-carousel .team-item:hover .item-photo {
            border-color: #fff;
        }
</style>

@code {

}
