<!-- Site Footer -->
<div class="site-footer">
    <!-- Footer Top -->
    <div class="footer-top">
        <div class="wrapper">
            <div class="row">
                <div class="col-lg-6">
                    <h5>SOCIAL MEDIA</h5>
                    <h6>FOLLOW THE GRADIUM</h6>
                    <div class="widget-social-icons">
                        <ul>
                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <h5>NEWSLETTER</h5>
                    <h6>WE LOVE TO SHARE NEW OFFERS AND EXLUSIVE PROMOTIONS</h6>
                    <div class="widget-newsletter">
                        <form>
                            <input type="text" placeholder="ENTER YOUR E-MAIL ADDRESS" required>
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Top End -->
    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="wrapper">
            <div class="footer-logo">
                <img src="img/logo.png" alt="The Grandium Hotel">
            </div>
            <div class="footer-copyright">
                <p>COPYRIGHT © NAME</p>
                <small>Powered by <b>Inn</b>spire</small>
            </div>
            <div class="footer-contact">
                <ul>
                    <li><i class="fa fa-map-marker"></i> STREETNAME 1, 12345 CITYNAME</li>
                    <li><i class="fa fa-phone"></i> +49-4725-372</li>
                    <li><a href="mailto:mail@domain.tld"><i class="fa fa-paper-plane"></i> MAIL@DOMAIN.TLD</a></li>
                </ul>
            </div>
            <div class="footer-nav">
                <ul>
                    <li><a href="/sitemape">SITEMAP</a></li>
                    <li><a href="/privacy">PRIVACY</a></li>
                    <li><a href="/imprint">IMPRINT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Footer Bottom End -->
</div>
<!-- Site Footer End -->

                    <style>
    .site-footer .footer-top {
        position: relative;
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #344157;
    }

        .site-footer .footer-top:before {
            position: absolute;
            top: 0;
            left: 50%;
            width: 1px;
            height: 100%;
            content: "";
            background-color: #24324a;
        }

        .site-footer .footer-top h5,
        .site-footer .footer-top h6 {
            color: #fff;
        }

        .site-footer .footer-top h5 {
            margin-bottom: 20px;
        }

        .site-footer .footer-top h6 {
            margin-bottom: 0;
        }

        .site-footer .footer-top .widget-social-icons,
        .site-footer .footer-top .widget-newsletter {
            margin-top: 40px;
        }

        .site-footer .footer-top div[class*="col-"]:last-child {
            text-align: right;
        }

    .site-footer .footer-bottom {
        padding-top: 100px;
        padding-bottom: 100px;
        font-family: 'Lato', sans-serif;
        font-size: 11px;
        font-weight: 900;
        color: #818a9c;
        letter-spacing: 2px;
        text-align: center;
    }

        .site-footer .footer-bottom a {
            color: #818a9c;
        }

        .site-footer .footer-bottom p:last-child {
            margin-bottom: 0;
        }

        .site-footer .footer-bottom .footer-logo {
            display: inline-block;
            width: 220px;
        }

        .site-footer .footer-bottom .footer-copyright,
        .site-footer .footer-bottom .footer-contact,
        .site-footer .footer-bottom .footer-nav {
            margin-top: 30px;
        }

            .site-footer .footer-bottom .footer-contact ul,
            .site-footer .footer-bottom .footer-nav ul {
                display: inline-block;
            }

                .site-footer .footer-bottom .footer-contact ul li,
                .site-footer .footer-bottom .footer-nav ul li {
                    float: left;
                    margin: 0 10px;
                }

                    .site-footer .footer-bottom .footer-contact ul li a,
                    .site-footer .footer-bottom .footer-nav ul li a {
                        display: block;
                    }

                        .site-footer .footer-bottom .footer-contact ul li a:hover {
                            color: #fff;
                        }

                    .site-footer .footer-bottom .footer-nav ul li a {
                        color: #fff;
                        text-transform: uppercase;
                    }

                        .site-footer .footer-bottom .footer-nav ul li a:hover {
                            color: #d77b5d;
                        }
                    </style>