@page "/"

@inject IJSRuntime JsRuntime

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-success" @onclick=ChangeSuccessColor>Test Button</button>

<div class="row">
    <div class="alert alert-success">Success alert</div>
</div>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    public async Task ChangeSuccessColor()
    {
        var rnd = new Random();
        await JsRuntime.InvokeVoidAsync("setCssVariable", "bs-success-rgb", $"{rnd.Next(0, 255)}, {rnd.Next(0, 255)}, {rnd.Next(0, 255)}");
        await JsRuntime.InvokeVoidAsync("setCssVariable", "bs-success", $"#ff0000");
        await JsRuntime.InvokeVoidAsync("setCssVariable", "bs-green", $"#ff0000");
        await JsRuntime.InvokeVoidAsync("setCssVariable", "bs-body-bg", $"#ff0000");
    }
}