<!-- Section Gallery -->
<div class="section">
    <div class="wrapper-inner">
        <!-- Gallery Filter -->
        <div class="widget-filter-top">
            <ul>
                <li class="active"><a href="#" data-filter="*">ALL PHOTOS</a></li>
                <li><a href="#" data-filter=".rooms">ROOMS</a></li>
                <li><a href="#" data-filter=".skybar">SKY BAR &amp; LOUNGE</a></li>
                <li><a href="#" data-filter=".welness">WELNESS &amp; SPA</a></li>
                <li><a href="#" data-filter=".restaurant">RESTAURANT</a></li>
                <li><a href="#" data-filter=".wedding">WEDDING</a></li>
                <li><a href="#" data-filter=".conference">CONFERENCE</a></li>
            </ul>
        </div>
        <!-- Gallery Filter End -->
        <!-- Gallery List -->
        <div class="widget-gallery-grid">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item rooms">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-1.jpg" style="background-image: url(img/photo-gallery-1.jpg);" data-background="img/photo-gallery-1.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item skybar restaurant">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-6.jpg" style="background-image: url(img/photo-gallery-6.jpg);" data-background="img/photo-gallery-6.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item skybar">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-7.jpg" style="background-image: url(img/photo-gallery-7.jpg);" data-background="img/photo-gallery-7.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item skybar restaurant">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-8.jpg" style="background-image: url(img/photo-gallery-8.jpg);" data-background="img/photo-gallery-8.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item skybar restaurant">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-9.jpg" style="background-image: url(img/photo-gallery-9.jpg);" data-background="img/photo-gallery-9.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item rooms">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-2.jpg" style="background-image: url(img/photo-gallery-2.jpg);" data-background="img/photo-gallery-2.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item conference">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-10.jpg" style="background-image: url(img/photo-gallery-10.jpg);" data-background="img/photo-gallery-10.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item conference">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-11.jpg" style="background-image: url(img/photo-gallery-11.jpg);" data-background="img/photo-gallery-11.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item wedding restaurant conference">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-12.jpg" style="background-image: url(img/photo-gallery-12.jpg);" data-background="img/photo-gallery-12.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item wedding">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-13.jpg" style="background-image: url(img/photo-gallery-13.jpg);" data-background="img/photo-gallery-13.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item rooms">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-3.jpg" style="background-image: url(img/photo-gallery-3.jpg);" data-background="img/photo-gallery-3.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item welness">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-14.jpg" style="background-image: url(img/photo-gallery-14.jpg);" data-background="img/photo-gallery-14.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item welness">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-15.jpg" style="background-image: url(img/photo-gallery-15.jpg);" data-background="img/photo-gallery-15.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item welness wedding">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-16.jpg" style="background-image: url(img/photo-gallery-16.jpg);" data-background="img/photo-gallery-16.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item welness wedding">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-17.jpg" style="background-image: url(img/photo-gallery-17.jpg);" data-background="img/photo-gallery-17.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 isotope-item rooms">
                    <div class="gallery-item">
                        <a href="img/photo-gallery-4.jpg" style="background-image: url(img/photo-gallery-4.jpg);" data-background="img/photo-gallery-4.jpg" title="Photo Name" class="popup-gallery"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Gallery List End -->
    </div>
</div>
<!-- Section Gallery End -->

<style>
    .widget-gallery-grid {
        margin-bottom: -30px;
    }

        .widget-gallery-grid .gallery-item {
            margin-bottom: 30px;
        }

            .widget-gallery-grid .gallery-item a {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
                padding-top: 100%;
                border: 15px solid #fff;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
                -webkit-box-shadow: inset 5px 5px 5px 0px rgba(40, 35, 29, 0.1);
                -moz-box-shadow: inset 5px 5px 5px 0px rgba(40, 35, 29, 0.1);
                box-shadow: inset 5px 5px 5px 0px rgba(40, 35, 29, 0.1);
            }

                .widget-gallery-grid .gallery-item a:before {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 1;
                    content: "";
                    display: inline-block;
                    border-style: solid;
                    border-width: 0 0 50px 50px;
                    border-color: transparent transparent #fff transparent;
                }

                .widget-gallery-grid .gallery-item a:after {
                    position: absolute;
                    right: 7px;
                    bottom: 7px;
                    z-index: 2;
                    content: "\f067";
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: 12px;
                    color: #d77b5d;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }

            .widget-gallery-grid .gallery-item:hover a:before {
                border-bottom-color: #d77b5d;
            }

            .widget-gallery-grid .gallery-item:hover a:after {
                color: #fff;
            }
</style>

@code {

}
