<!-- Section Rooms -->
<div class="section">
    <div class="wrapper-inner">
        <!-- Rooms List -->
        <div class="widget-rooms-list">
            <div class="rooms-item">
                <div class="item-photo">
                    <a href="rooms-detail.html" style="background-image: url('img/photo-room-1.jpg');" data-background="img/photo-room-1.jpg"></a>
                </div>
                <div class="item-desc">
                    <h2><a href="rooms-detail.html">Single Room</a></h2>
                    <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                    <div class="desc-features">
                        <ul>
                            <li><i class="fa fa-check"></i> BREAKFAST</li>
                            <li><i class="fa fa-check"></i> WI-FI</li>
                            <li><i class="fa fa-check"></i> HAIR DRYER</li>
                            <li><i class="fa fa-check"></i> LCD TV</li>
                            <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                            <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                            <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                            <li><i class="fa fa-check"></i> MINI BAR</li>
                            <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                        </ul>
                    </div>
                </div>
                <div class="item-price">
                    <div class="price-inner">
                        <i class="fa fa-star"></i>
                        <h3>$ 160.00</h3>
                        <h4>$ 180.00</h4>
                        <h5>PER NIGHT</h5>
                        <a href="rooms-detail.html" class="btn">ROOM DETAIL</a>
                    </div>
                </div>
            </div>
            <div class="rooms-item">
                <div class="item-photo">
                    <a href="rooms-detail.html" style="background-image: url('img/photo-room-2.jpg');" data-background="img/photo-room-2.jpg"></a>
                </div>
                <div class="item-desc">
                    <h2><a href="rooms-detail.html">Double Room</a></h2>
                    <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                    <div class="desc-features">
                        <ul>
                            <li><i class="fa fa-check"></i> BREAKFAST</li>
                            <li><i class="fa fa-check"></i> WI-FI</li>
                            <li><i class="fa fa-check"></i> HAIR DRYER</li>
                            <li><i class="fa fa-check"></i> LCD TV</li>
                            <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                            <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                            <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                            <li><i class="fa fa-check"></i> MINI BAR</li>
                            <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                        </ul>
                    </div>
                </div>
                <div class="item-price">
                    <div class="price-inner">
                        <i class="fa fa-star"></i>
                        <h3>$ 300.00</h3>
                        <h4>$ 340.00</h4>
                        <h5>PER NIGHT</h5>
                        <a href="rooms-detail.html" class="btn">ROOM DETAIL</a>
                    </div>
                </div>
            </div>
            <div class="rooms-item">
                <div class="item-photo">
                    <a href="rooms-detail.html" style="background-image: url('img/photo-room-3.jpg');" data-background="img/photo-room-3.jpg"></a>
                </div>
                <div class="item-desc">
                    <h2><a href="rooms-detail.html">Deluxe Single Room</a></h2>
                    <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                    <div class="desc-features">
                        <ul>
                            <li><i class="fa fa-check"></i> BREAKFAST</li>
                            <li><i class="fa fa-check"></i> WI-FI</li>
                            <li><i class="fa fa-check"></i> HAIR DRYER</li>
                            <li><i class="fa fa-check"></i> LCD TV</li>
                            <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                            <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                            <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                            <li><i class="fa fa-check"></i> MINI BAR</li>
                            <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                        </ul>
                    </div>
                </div>
                <div class="item-price">
                    <div class="price-inner">
                        <i class="fa fa-star"></i>
                        <h3>$ 420.00</h3>
                        <h4>$ 480.00</h4>
                        <h5>PER NIGHT</h5>
                        <a href="rooms-detail.html" class="btn">ROOM DETAIL</a>
                    </div>
                </div>
            </div>
            <div class="rooms-item">
                <div class="item-photo">
                    <a href="rooms-detail.html" style="background-image: url('img/photo-room-4.jpg');" data-background="img/photo-room-4.jpg"></a>
                </div>
                <div class="item-desc">
                    <h2><a href="rooms-detail.html">Deluxe Double Room</a></h2>
                    <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                    <div class="desc-features">
                        <ul>
                            <li><i class="fa fa-check"></i> BREAKFAST</li>
                            <li><i class="fa fa-check"></i> WI-FI</li>
                            <li><i class="fa fa-check"></i> HAIR DRYER</li>
                            <li><i class="fa fa-check"></i> LCD TV</li>
                            <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                            <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                            <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                            <li><i class="fa fa-check"></i> MINI BAR</li>
                            <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                        </ul>
                    </div>
                </div>
                <div class="item-price">
                    <div class="price-inner">
                        <i class="fa fa-star"></i>
                        <h3>$ 540.00</h3>
                        <h4>$ 620.00</h4>
                        <h5>PER NIGHT</h5>
                        <a href="rooms-detail.html" class="btn">ROOM DETAIL</a>
                    </div>
                </div>
            </div>
            <div class="rooms-item">
                <div class="item-photo">
                    <a href="rooms-detail.html" style="background-image: url('img/photo-room-5.jpg');" data-background="img/photo-room-5.jpg"></a>
                </div>
                <div class="item-desc">
                    <h2><a href="rooms-detail.html">Royal Suit Room</a></h2>
                    <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                    <div class="desc-features">
                        <ul>
                            <li><i class="fa fa-check"></i> BREAKFAST</li>
                            <li><i class="fa fa-check"></i> WI-FI</li>
                            <li><i class="fa fa-check"></i> HAIR DRYER</li>
                            <li><i class="fa fa-check"></i> LCD TV</li>
                            <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                            <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                            <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                            <li><i class="fa fa-check"></i> MINI BAR</li>
                            <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                        </ul>
                    </div>
                </div>
                <div class="item-price">
                    <div class="price-inner">
                        <i class="fa fa-star"></i>
                        <h3>$ 680.00</h3>
                        <h4>$ 760.00</h4>
                        <h5>PER NIGHT</h5>
                        <a href="rooms-detail.html" class="btn">ROOM DETAIL</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Rooms List End -->
        <!-- Pager -->
        <div class="widget-pager">
            <ul>
                <li><a href="#">1</a></li>
                <li class="active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
            </ul>
        </div>
        <!-- Pager End -->
    </div>
</div>
<!-- Section Rooms End -->

<style>
    .widget-rooms-list .rooms-item {
        position: relative;
        padding-left: 25%;
        padding-right: 20%;
        margin-bottom: 40px;
        border: 1px solid #e1e1e1;
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
        -moz-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
        box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
    }

        .widget-rooms-list .rooms-item .item-photo {
            position: absolute;
            top: 0;
            left: 0;
            width: 25%;
            height: 100%;
        }

            .widget-rooms-list .rooms-item .item-photo a {
                display: block;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }

        .widget-rooms-list .rooms-item .item-desc {
            padding: 40px;
        }

            .widget-rooms-list .rooms-item .item-desc h2 {
                margin-bottom: 10px;
            }

                .widget-rooms-list .rooms-item .item-desc h2 a:hover {
                    color: #d77b5d;
                }

            .widget-rooms-list .rooms-item .item-desc p {
                font-size: 18px;
                color: #818a9c;
                line-height: 30px;
                margin: 0;
            }

            .widget-rooms-list .rooms-item .item-desc .desc-features {
                position: relative;
                margin-top: 30px;
            }

                .widget-rooms-list .rooms-item .item-desc .desc-features:before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    z-index: 1;
                    width: 2px;
                    height: 100%;
                    content: "";
                    display: inline-block;
                    background-color: #fff;
                }

                .widget-rooms-list .rooms-item .item-desc .desc-features:after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 2px;
                    content: "";
                    display: inline-block;
                    background-color: #fff;
                }

                .widget-rooms-list .rooms-item .item-desc .desc-features ul li {
                    position: relative;
                    float: left;
                    width: 33.33333333333333%;
                    height: 40px;
                    line-height: 40px;
                    padding-left: 40px;
                    padding-right: 20px;
                    border-right: 1px solid #e1e1e1;
                    border-bottom: 1px solid #e1e1e1;
                    font-family: 'Lato', sans-serif;
                    font-weight: 700;
                    font-size: 10px;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    background-color: #fff;
                }

                    .widget-rooms-list .rooms-item .item-desc .desc-features ul li .fa {
                        position: absolute;
                        top: 10px;
                        left: 10px;
                        width: 20px;
                        height: 20px;
                        line-height: 20px;
                        text-align: center;
                        font-size: 7px;
                        color: #d77b5d;
                        border: 1px solid #d77b5d;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        border-radius: 50%;
                    }

                        .widget-rooms-list .rooms-item .item-desc .desc-features ul li .fa:before {
                            display: inline-block;
                            width: 20px;
                        }

        .widget-rooms-list .rooms-item .item-price {
            position: absolute;
            top: 0;
            right: 0;
            width: 20%;
            height: 100%;
            border-left: 1px solid #e1e1e1;
        }

            .widget-rooms-list .rooms-item .item-price:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 20px;
                height: 100%;
                content: "";
                display: inline-block;
                background: -moz-linear-gradient(left, rgba(33,30,25,0.10) -100%, rgba(0,0,0,0) 100%);
                background: -webkit-linear-gradient(left, rgba(33,30,25,0.10) -100%, rgba(0,0,0,0) 100%);
                background: linear-gradient(to right, rgba(33,30,25,0.10) -100%, rgba(0,0,0,0) 100%);
            }

            .widget-rooms-list .rooms-item .item-price .price-inner {
                position: relative;
                top: 50%;
                z-index: 1;
                padding: 0 20px;
                text-align: center;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
            }

                .widget-rooms-list .rooms-item .item-price .price-inner h3,
                .widget-rooms-list .rooms-item .item-price .price-inner h4 {
                    font-family: 'Lato', sans-serif;
                    font-weight: 900;
                }

                .widget-rooms-list .rooms-item .item-price .price-inner h3 {
                    font-size: 32px;
                }

                .widget-rooms-list .rooms-item .item-price .price-inner h4 {
                    font-size: 18px;
                    color: #999;
                    text-decoration: line-through;
                    margin-bottom: 20px;
                }

                .widget-rooms-list .rooms-item .item-price .price-inner h5 {
                    font-size: 10px;
                    color: #24324a;
                }

                .widget-rooms-list .rooms-item .item-price .price-inner .btn {
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    -o-border-radius: 20px;
                    border-radius: 20px;
                }

                .widget-rooms-list .rooms-item .item-price .price-inner .fa-star {
                    position: relative;
                    left: 5px;
                    color: #d77b5d;
                    margin-bottom: 10px;
                }

                    .widget-rooms-list .rooms-item .item-price .price-inner .fa-star:before {
                        content: "\f005\f005\f005";
                        letter-spacing: 5px;
                    }

        .widget-rooms-list .rooms-item:last-child {
            margin-bottom: 0;
        }
</style>

@code {

}
