<!-- Section Rooms Detail -->
<div class="section">
    <div class="wrapper-inner">
        <div class="widget-rooms-detail">
            <div class="widget-inner">
                <div class="row">
                    <div class="col-md-8">
                        <!-- Room Slider -->
                        <div class="room-slider">
                            <div class="room-price">$ 160.00 <small>PER NIGHT</small></div>
                            <div class="owl-carousel owl-theme owl-type1">
                                <a href="img/photo-room-detail-5.jpg" style="background-image: url(img/photo-room-detail-5.jpg);" data-background="img/photo-room-detail-5.jpg" title="Single Room" class="popup-gallery"></a>
                                <a href="img/photo-room-detail-4.jpg" style="background-image: url(img/photo-room-detail-4.jpg);" data-background="img/photo-room-detail-4.jpg" title="Single Room" class="popup-gallery"></a>
                                <a href="img/photo-room-detail-3.jpg" style="background-image: url(img/photo-room-detail-3.jpg);" data-background="img/photo-room-detail-3.jpg" title="Single Room" class="popup-gallery"></a>
                                <a href="img/photo-room-detail-2.jpg" style="background-image: url(img/photo-room-detail-2.jpg);" data-background="img/photo-room-detail-2.jpg" title="Single Room" class="popup-gallery"></a>
                                <a href="img/photo-room-detail-1.jpg" style="background-image: url(img/photo-room-detail-1.jpg);" data-background="img/photo-room-detail-1.jpg" title="Single Room" class="popup-gallery"></a>
                            </div>
                        </div>
                        <!-- Room Slider End -->
                        <!-- Room Thumbnails -->
                        <div class="room-thumbnails">
                            <div class="owl-carousel">
                                <a href="#" style="background-image: url(img/photo-room-detail-5.jpg);" data-background="img/photo-room-detail-5.jpg" title="Single Room"></a>
                                <a href="#" style="background-image: url(img/photo-room-detail-4.jpg);" data-background="img/photo-room-detail-4.jpg" title="Single Room"></a>
                                <a href="#" style="background-image: url(img/photo-room-detail-3.jpg);" data-background="img/photo-room-detail-3.jpg" title="Single Room"></a>
                                <a href="#" style="background-image: url(img/photo-room-detail-2.jpg);" data-background="img/photo-room-detail-2.jpg" title="Single Room"></a>
                                <a href="#" style="background-image: url(img/photo-room-detail-1.jpg);" data-background="img/photo-room-detail-1.jpg" title="Single Room"></a>
                            </div>
                        </div>
                        <!-- Room Thumbnails End -->
                        <!-- Room Description -->
                        <div class="room-desc">
                            <h5>ROOM DESCRIPTION</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac scelerisque leo. Curabitur sed ornare orci. Nulla molestie pretium libero quis tincidunt. Nullam at arcu vitae felis dignissim lacinia. Integer vitae ipsum quis dolor convallis tristique. Donec lectus ex, posuere id felis et, commodo viverra felis. Morbi aliquet, mauris ornare bibendum elementum, lectus ante posuere lorem, eu condimentum odio nunc nec justo. Quisque vel sapien molestie, ultricies lectus iaculis, gravida sem. Nullam laoreet ipsum eget nunc auctor, vitae imperdiet dui eleifend. Sed molestie facilisis sollicitudin. Cras tincidunt vestibulum metus, sed posuere dui.</p>
                            <p>Vivamus pharetra tortor et congue gravida. Cras erat libero, malesuada in lorem vel, fringilla finibus diam. Morbi sollicitudin placerat placerat. Nullam euismod cursus mattis. Donec sit amet imperdiet sem, vel molestie purus. Duis blandit pharetra ligula ac sodales. Quisque velit massa, congue quis dignissim id, ornare sed arcu.Phasellus id velit iaculis, vulputate magna in, feugiat felis. Nulla eu ligula quis ante venenatis dapibus. Nulla ut congue est. Maecenas diam felis, volutpat vel orci quis, sodales malesuada lectus. Sed id feugiat turpis. Quisque ac turpis id nibh varius pellentesque vitae vitae lacus.</p>
                        </div>
                        <!-- Room Description End -->
                    </div>
                    <div class="col-md-4">
                        <!-- Room Booking -->
                        <div class="room-booking">
                            <h5>BOOKING</h5>
                            <h2>Book a Room</h2>
                            <div class="data-form">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-calendar-plus-o"></i>
                                            <input type="text" name="checkin" placeholder="CHECK IN" class="datepicker" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-calendar-plus-o"></i>
                                            <input type="text" name="checkout" placeholder="CHECK OUT" class="datepicker" required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-caret-down"></i>
                                            <select name="adults" required>
                                                <option value="">ADULTS</option>
                                                <option value="1">1 ADULT</option>
                                                <option value="2">2 ADULT</option>
                                                <option value="3">3 ADULT</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="fa fa-caret-down"></i>
                                            <select name="childrens" required>
                                                <option value="">CHILDRENS</option>
                                                <option value="1">1 CHILDREN</option>
                                                <option value="2">2 CHILDREN</option>
                                                <option value="3">3 CHILDREN</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="submit" class="btn">BOOK NOW THIS ROOM</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Room Booking End -->
                        <!-- Room Features -->
                        <div class="room-features">
                            <h5>FEATURES</h5>
                            <h2>Room Features</h2>
                            <ul>
                                <li><i class="fa fa-check"></i> BREAKFAST</li>
                                <li><i class="fa fa-check"></i> WI-FI</li>
                                <li><i class="fa fa-check"></i> HAIR DRYER</li>
                                <li><i class="fa fa-check"></i> LCD TV</li>
                                <li><i class="fa fa-check"></i> SHOWER AND TAB</li>
                                <li><i class="fa fa-check"></i> SECURITY SYSTEM</li>
                                <li><i class="fa fa-check"></i> AIR CONDITIONING</li>
                                <li><i class="fa fa-check"></i> MINI BAR</li>
                                <li><i class="fa fa-check"></i> TEA AND COFFEE SET</li>
                            </ul>
                        </div>
                        <!-- Room Features End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section Rooms Detail End -->

<style>
    .widget-rooms-detail .room-slider {
        position: relative;
        border: 10px solid #fff;
    }

        .widget-rooms-detail .room-slider a {
            display: block;
            width: 100%;
            height: 500px;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
        }

        .widget-rooms-detail .room-slider .room-price {
            position: absolute;
            top: 30px;
            left: 0;
            z-index: 2;
            padding: 10px 30px;
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            font-size: 24px;
            color: #fff;
            background-color: #d77b5d;
        }

            .widget-rooms-detail .room-slider .room-price small {
                position: relative;
                top: -3px;
                left: 5px;
                font-size: 11px;
                letter-spacing: 1px;
                text-transform: uppercase;
            }

    .widget-rooms-detail .room-thumbnails {
        margin-top: 40px;
    }

        .widget-rooms-detail .room-thumbnails a {
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 100%;
            border: 10px solid #fff;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            -webkit-box-shadow: inset 5px 5px 5px 0px rgba(40, 35, 29, 0.1);
            -moz-box-shadow: inset 5px 5px 5px 0px rgba(40, 35, 29, 0.1);
            box-shadow: inset 5px 5px 5px 0px rgba(40, 35, 29, 0.1);
        }

    .widget-rooms-detail .room-desc {
        margin-top: 40px;
        text-align: justify;
    }

        .widget-rooms-detail .room-desc p:last-child {
            margin-bottom: 0;
        }

    .widget-rooms-detail .room-booking {
        padding: 40px;
        background-color: #fff;
    }

        .widget-rooms-detail .room-booking h2 {
            font-size: 42px;
            margin-bottom: 30px;
        }

        .widget-rooms-detail .room-booking .btn {
            display: block;
            width: 100%;
        }

        .widget-rooms-detail .room-booking .fa {
            position: absolute;
            top: 14px;
            right: 35px;
            width: 15px;
            text-align: center;
        }

        .widget-rooms-detail .room-booking .data-form {
            margin-bottom: -20px;
        }

            .widget-rooms-detail .room-booking .data-form select,
            .widget-rooms-detail .room-booking .data-form input[type="text"] {
                text-transform: uppercase;
                -webkit-box-shadow: inset 1px 1px 4px 0px rgba(40, 35, 29, 0.1);
                -moz-box-shadow: inset 1px 1px 4px 0px rgba(40, 35, 29, 0.1);
                box-shadow: inset 1px 1px 4px 0px rgba(40, 35, 29, 0.1);
            }

                .widget-rooms-detail .room-booking .data-form select:focus,
                .widget-rooms-detail .room-booking .data-form input[type="text"]:focus {
                    border-color: #e1e1e1;
                }

            .widget-rooms-detail .room-booking .data-form ::-webkit-input-placeholder {
                color: #24324a;
            }

            .widget-rooms-detail .room-booking .data-form :-moz-placeholder {
                color: #24324a;
            }

            .widget-rooms-detail .room-booking .data-form ::-moz-placeholder {
                color: #24324a;
            }

            .widget-rooms-detail .room-booking .data-form :-ms-input-placeholder {
                color: #24324a;
            }

    .widget-rooms-detail .room-features {
        padding: 40px;
        background-color: #fff;
    }

        .widget-rooms-detail .room-features h2 {
            font-size: 42px;
            margin-bottom: 30px;
        }

        .widget-rooms-detail .room-features ul li {
            position: relative;
            height: 40px;
            line-height: 40px;
            padding-left: 40px;
            padding-right: 20px;
            border-bottom: 1px solid #e1e1e1;
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            font-size: 10px;
            letter-spacing: 1px;
            text-transform: uppercase;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

            .widget-rooms-detail .room-features ul li .fa {
                position: absolute;
                top: 10px;
                left: 10px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                font-size: 7px;
                color: #d77b5d;
                border: 1px solid #d77b5d;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                border-radius: 50%;
            }

                .widget-rooms-detail .room-features ul li .fa:before {
                    display: inline-block;
                    width: 20px;
                }

            .widget-rooms-detail .room-features ul li:last-child {
                border-bottom: 0;
            }
</style>

@code {

}
