<!-- Section About Promo -->
<div class="section">
    <div class="widget-about-promo" style="background-image: url('img/photo-about.jpg');">
        <div class="wrapper-inner">
            <div class="widget-inner">
                <div class="row">
                    <div class="col-md-6">
                        <h5>ABOUT THE GRANDIUM</h5>
                        <h2>Your Perfect Escape</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem. Morbi blandit orci urna, eu congue magna faucibus at. In bibendum in mauris nec ultrices. Nunc et magna velit.</p>
                        <p>Nulla vel nisi felis. Vivamus vitae ex a magna cursus pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque nec ante euismod, posuere turpis facilisis, fringilla odio. Nunc eget purus at dolor venenatis cursus et non arcu. Praesent rutrum condimentum risus, sed interdum purus euismod eget.</p>
                        <a href="aboutus.html" class="btn">LEARN MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section About Promo End -->

<style>
    .widget-about-promo {
        position: relative;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: auto 100%;
    }

        .widget-about-promo:after {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            display: block;
            background: -moz-linear-gradient(left, rgba(245,245,245,1) 50%, rgba(255,255,255,0) 140%);
            background: -webkit-linear-gradient(left, rgba(245,245,245,1) 50%,rgba(255,255,255,0) 140%);
            background: linear-gradient(to right, rgba(245,245,245,1) 50%,rgba(255,255,255,0) 140%);
        }

        .widget-about-promo .widget-inner {
            position: relative;
            z-index: 1;
            font-size: 18px;
            text-align: justify;
        }

            .widget-about-promo .widget-inner h2,
            .widget-about-promo .widget-inner h5 {
                text-align: left;
            }

            .widget-about-promo .widget-inner h2 {
                font-size: 48px;
            }

            .widget-about-promo .widget-inner p {
                line-height: 30px;
                margin-bottom: 40px;
            }

                .widget-about-promo .widget-inner p:last-of-type {
                    margin-bottom: 0;
                }

            .widget-about-promo .widget-inner .btn {
                margin-top: 40px;
            }
</style>

@code {

}
