<!-- Section Blog -->
<div class="section">
    <div class="widget-blog-carousel">
        <div class="wrapper-full-inner">
            <!-- Blog Title -->
            <div class="widget-title">
                <h5>BLOG</h5>
                <h2>Latest News</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Blog Title End -->
            <!-- Blog Carousel -->
            <div class="widget-carousel owl-carousel owl-theme">
                <div class="blog-item">
                    <div class="item-media">
                        <div class="item-date"><b>24</b>DEC</div>
                        <div class="media-photo">
                            <a href="blog-single.html" style="background-image: url('img/photo-blog-1.jpg');"></a>
                        </div>
                    </div>
                    <div class="item-desc">
                        <h3><a href="blog-single.html">Best Things to Do In London Enjoy the Nightlife</a></h3>
                        <h5>EVENTS</h5>
                        <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                        <a href="blog-single.html" class="btn-link">READ MORE</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="item-media">
                        <div class="item-date"><b>21</b>NOV</div>
                        <div class="media-photo">
                            <a href="blog-single.html" style="background-image: url('img/photo-blog-2.jpg');"></a>
                        </div>
                    </div>
                    <div class="item-desc">
                        <h3><a href="blog-single.html">A Walk from The Grandium Hotel Around</a></h3>
                        <h5>TRAVEL</h5>
                        <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                        <a href="blog-single.html" class="btn-link">READ MORE</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="item-media">
                        <div class="item-date"><b>19</b>OCT</div>
                        <div class="media-photo">
                            <a href="blog-single.html" style="background-image: url('img/photo-blog-3.jpg');"></a>
                        </div>
                    </div>
                    <div class="item-desc">
                        <h3><a href="blog-single.html">Top Events in London This February</a></h3>
                        <h5>EVENTS</h5>
                        <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                        <a href="blog-single.html" class="btn-link">READ MORE</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="item-media">
                        <div class="item-date"><b>17</b>SEP</div>
                        <div class="media-gallery">
                            <div class="media-carousel owl-carousel owl-theme owl-type1">
                                <a href="blog-single-gallery.html" style="background-image: url('img/photo-blog-4.jpg');"></a>
                                <a href="blog-single-gallery.html" style="background-image: url('img/photo-blog-1.jpg');"></a>
                                <a href="blog-single-gallery.html" style="background-image: url('img/photo-blog-2.jpg');"></a>
                            </div>
                        </div>
                    </div>
                    <div class="item-desc">
                        <h3><a href="blog-single-gallery.html">Enjoy Wimbledon Finals Week The Grandium Hotel</a></h3>
                        <h5>EVENTS</h5>
                        <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                        <a href="blog-single-gallery.html" class="btn-link">READ MORE</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="item-media">
                        <div class="item-date"><b>14</b>AUG</div>
                        <div class="media-video video-full">
                            <iframe src="http://player.vimeo.com/video/39493181?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0" width="500" height="281"></iframe>
                        </div>
                    </div>
                    <div class="item-desc">
                        <h3><a href="blog-single-vimeo.html">The Ultimate Father's Day Gift: The Grandium Hotel</a></h3>
                        <h5>ACCOMONDATION</h5>
                        <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                        <a href="blog-single-vimeo.html" class="btn-link">READ MORE</a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="item-media">
                        <div class="item-date"><b>12</b>MAY</div>
                        <div class="media-video video-full">
                            <iframe src="http://www.youtube.com/embed/SqeYP8EU79M" width="560" height="315" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="item-desc">
                        <h3><a href="blog-single-youtube.html">Father's Day Dining &amp; Afternoon Tea Specials</a></h3>
                        <h5>SERVICES</h5>
                        <p>Sed fermentum eleifend dui eu faucibus. Donec facilisis, ligula eu interdum luctus nunc massa fermentum</p>
                        <a href="blog-single-youtube.html" class="btn-link">READ MORE</a>
                    </div>
                </div>
            </div>
            <!-- Blog Carousel End -->
        </div>
    </div>
</div>
<!-- Section Blog End -->

<style>
    .widget-blog-carousel .blog-item {
        position: relative;
        background-color: #fff;
    }

        .widget-blog-carousel .blog-item:after {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            width: 1px;
            height: 100%;
            content: "";
            display: inline-block;
            background-color: #e1e1e1;
        }

        .widget-blog-carousel .blog-item .item-media {
            position: relative;
            z-index: 2;
        }

            .widget-blog-carousel .blog-item .item-media .media-photo a,
            .widget-blog-carousel .blog-item .item-media .media-gallery a {
                display: block;
                width: 100%;
                padding-top: 100%;
                background-repeat: no-repeat;
                background-position: top center;
                background-size: cover;
            }

            .widget-blog-carousel .blog-item .item-media .media-video {
                padding-top: 100%;
            }

                .widget-blog-carousel .blog-item .item-media .media-video .fluid-width-video-wrapper {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }

        .widget-blog-carousel .blog-item .item-date {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 2;
            width: 50px;
            padding: 10px 5px;
            font-family: 'Lato', sans-serif;
            font-weight: 900;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            text-transform: uppercase;
            overflow: hidden;
            background-color: #d77b5d;
        }

            .widget-blog-carousel .blog-item .item-date b {
                display: block;
                font-size: 22px;
                font-weight: 900;
            }

        .widget-blog-carousel .blog-item .item-desc {
            padding: 30px 30px 70px;
        }

            .widget-blog-carousel .blog-item .item-desc p {
                margin-bottom: 0;
            }

            .widget-blog-carousel .blog-item .item-desc h5 {
                font-size: 10px;
                color: #818a9c;
            }

            .widget-blog-carousel .blog-item .item-desc h3 a:hover {
                color: #d77b5d;
            }

            .widget-blog-carousel .blog-item .item-desc .btn-link {
                position: absolute;
                left: 0;
                bottom: 20px;
                width: 100%;
                height: 30px;
                line-height: 30px;
                padding: 0 30px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

    .widget-blog-carousel .wrapper-inner,
    .widget-blog-carousel .wrapper-full-inner {
        padding-bottom: 0;
    }
</style>

@code {

}
