<!-- Section Features -->
<div class="section">
    <div class="widget-features-grid">
        <div class="wrapper-inner">
            <!-- Features Title -->
            <div class="widget-title">
                <h5>OUR FACILITIES</h5>
                <h2>Explore The Grandium</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Features Title End -->
            <!-- Features Content -->
            <div class="widget-inner">
                <div class="row">
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" style="background-image: url('img/photo-services-1-2.jpg')">
                            <a href="#">
                                <h3>Sky Bar &amp; Lounge</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" style="background-image: url('img/photo-services-2-1.jpg')">
                            <a href="#">
                                <h3>Private Dining</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" style="background-image: url('img/photo-services-3-1.jpg')">
                            <a href="#">
                                <h3>Conference &amp; Events</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" style="background-image: url('img/photo-services-4-1.jpg')">
                            <a href="#">
                                <h3>Wedding Venue</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" style="background-image: url('img/photo-services-5-1.jpg')">
                            <a href="#">
                                <h3>Spa &amp; Beauty Center</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="features-item" style="background-image: url('img/photo-services-6-1.jpg')">
                            <a href="#">
                                <h3>Swimming Pool</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Features Content End -->
        </div>
    </div>
</div>
<!-- Section Features End -->

<style>
    .widget-features-grid {
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
    }

        .widget-features-grid .widget-inner {
            margin-bottom: -30px;
        }

        .widget-features-grid .features-item {
            position: relative;
            padding-top: 100%;
            margin-bottom: 30px;
            border: 20px solid #fff;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            -webkit-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
            -moz-box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
            box-shadow: 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
        }

            .widget-features-grid .features-item a {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                display: block;
                padding: 60px 30px 30px 30px;
                color: #fff;
                background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(36,50,74,1) 70%);
                background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(36,50,74,1) 70%);
                background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(36,50,74,1) 70%);
            }

                .widget-features-grid .features-item a:hover {
                    padding-bottom: 60px;
                }

            .widget-features-grid .features-item p {
                margin: 0;
                line-height: 18px;
            }
</style>

@code {

}
