<!-- Section Testimonials -->
<div class="section">
    <div class="widget-testimonials-carousel">
        <div class="wrapper-inner">
            <!-- Testimonials Title -->
            <div class="widget-title">
                <h5>TESTIMONIALS</h5>
                <h2>Happy Clients</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget commodo orci. Integer varius nibh eu mattis porta. Pellentesque dictum sem eget cursus semper. Nullam quis blandit lorem.</p>
            </div>
            <!-- Testimonials Title End -->
            <!-- Testimonials Carousel -->
            <div class="widget-carousel owl-carousel owl-theme">
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-1.jpg')"></div>
                        <h5>MARILYN SUTTLE</h5>
                        <h6>UK, BRIGHTON</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-2.jpg')"></div>
                        <h5>JACK MASON</h5>
                        <h6>IRELAND</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-3.jpg')"></div>
                        <h5>MICHAEL FELDSTEIN</h5>
                        <h6>POLAND</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-4.jpg')"></div>
                        <h5>JOHN FEDERICO</h5>
                        <h6>ITALY</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-1.jpg')"></div>
                        <h5>MARILYN SUTTLE</h5>
                        <h6>UK, BRIGHTON</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-2.jpg')"></div>
                        <h5>JACK MASON</h5>
                        <h6>IRELAND</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-3.jpg')"></div>
                        <h5>MICHAEL FELDSTEIN</h5>
                        <h6>POLAND</h6>
                    </div>
                </div>
                <div class="testimonials-item">
                    <div class="item-comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et nisl consequat, semper est non, convallis neque. Phasellus id dictum libero. Etiam nunc libero feugiat vel sem non.
                    </div>
                    <div class="item-customer">
                        <div class="customer-photo" style="background-image: url('img/user-4.jpg')"></div>
                        <h5>JOHN FEDERICO</h5>
                        <h6>ITALY</h6>
                    </div>
                </div>
            </div>
            <!-- Testimonials Carousel End -->
        </div>
    </div>
</div>
<!-- Section Testimonials End -->

<style>
    .widget-testimonials-carousel .testimonials-item {
        text-align: center;
    }

        .widget-testimonials-carousel .testimonials-item .item-comment {
            position: relative;
            padding: 30px;
            margin-bottom: 40px;
            line-height: 22px;
            background-color: #fff;
            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            -ms-border-radius: 6px;
            -o-border-radius: 6px;
            border-radius: 6px;
        }

            .widget-testimonials-carousel .testimonials-item .item-comment:after {
                position: absolute;
                top: 100%;
                left: 50%;
                content: "";
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: -20px;
                border-style: solid;
                border-width: 20px 20px 0 20px;
                border-color: #fff transparent transparent transparent;
            }

        .widget-testimonials-carousel .testimonials-item .item-customer h5,
        .widget-testimonials-carousel .testimonials-item .item-customer h6 {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .widget-testimonials-carousel .testimonials-item .item-customer h6 {
            margin-bottom: 0;
        }

        .widget-testimonials-carousel .testimonials-item .item-customer .customer-photo {
            display: inline-block;
            width: 80px;
            height: 80px;
            margin-bottom: 20px;
            overflow: hidden;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: top center;
            background-size: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
        }
</style>

@code {

}
